.container {
    
    display:flex;
    flex-wrap:wrap;
    text-align: center;
}

.tile {
    width:23%;
    padding:5%;
}

.right {
    border-right: 1px solid black;
}

.bottom {
    border-bottom: 1px solid black;
}
body {
    background-color:aquamarine;
    color:black;
    font-family: 'Courgette', cursive;
    text-align: center;
}

